

body { 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: rgb(16,37,66);
}
.navstyle {
    background-color: rgb(16,37,66);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.navstyle a:link {
    color: white;
}
.navstyle a:visited {
    color: rgb(179,163,148);
}


.codestyle {
    background-color: rgb(245,105,86); 
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 1em;
    color: white;

}

.codestyle p {
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
}

.projects {
    padding-left: 35px;
    padding-right: 35px; 
    padding-top: 50px;
    padding-bottom: 70px; 
}

.projects img {
    width: 100%;
}
.projects h3 {
    font-weight: bold;
    padding-left: 5px;
}
.projects p {
    padding: 5px; 
}

.mainheading{
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 20px;
}


.contact {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.footer {
    padding-left: 15px;
    background-color: rgb(5,104,34); 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    color: white;
}
.footer h3 {s
    text-align: left;
    font-family: 'Sorts Mill Goudy', serif;
    text-decoration: underline;
}

/* Resume only page*/
.top {
    padding-top: 200px;
    background-image: url(/img/IMG_0485.jpg);
    text-align: center;
    color: white; 
    padding-bottom: 30px;

}

.top img {
    width: 100%;
}
.headshot img{
    width: 200px;
}
.name {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 4em; 
    color: white;
    font-weight: bolder;
}
.objective {
    background-color: rgb(140, 206,237); 
    padding-top: 50px;
    padding-bottom: 30px;
}


.objective p {
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.skills {
    padding-bottom: 70px; 
}
.education {
    padding-left: 70px;
    background-color: rgb(16,37,66);
    color: white;
}

.edutext{
    padding-top: 50px;
    line-height: 200%; 
}
.education img{
    width: 400px;
}
.education h1 {
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 20px;
  font-size: 2em;
  color: rgb(255,223,50);
}
.work {
    text-align: center;
    padding-bottom: 70px; 
}

.work .ventev {
    padding-top: 40px;  
    vertical-align: middle;
}
.skills {
    text-align: center;
}


